<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>
    <h1>My Listings</h1>
    <form action="http://localhost:8080/listing/new" method="get">
        <button>Create New Listing</button>
    </form>
    <ul>
        <% for(listing of allListings) { %>
            <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
            <form action="http://localhost:8080/listing/<%= listing._id %>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
        <% } %>
    </ul>
</body>
</html>